extends layouts/main

block metas
  include ./partials/video_metas

block main_content
  #video
    #video-header
      h1
        a(href=links.video(video.id))= video.title
    #video-iframe
      iframe(src=links.videoEmbed(video.id), frameborder="0", allowfullscreen)
    .row
      .col-xs-12.col-sm-8
        ul.vi-stats.stats-main
          li.vi-date= new Date(video.createdAt).toLocaleDateString(lang)
          if (video.category)
            li.vi-category
              a(href=links.category(video.category.id))= video.category.name
          li.vi-views= video.countViews
            |  (+
            = video.sourceCountViews.toLocaleString(lang)
            |)
      .col-xs-12.col-sm-4
        .share-buttons
          .ya-share2(data-services='vkontakte,facebook,odnoklassniki,moimir,twitter', data-counter='', data-url=site.head.canonical)
          //- .fb-share-button(data-href=site.head.canonical, data-layout='button_count')
          //- #vk_like
    p#video-description=video.description
  //- p.text-muted= __('article_update_info')
  br
  #video-comments
    #disqus_thread


block aside_content_top
  if (relatedVideos)
    section.tab
      h3.tab-title= __('related_videos')
      .tab-content
        +videoListSmall(relatedVideos)
