- var embedUrl = 'http://'+config.host+links.videoEmbed(video.id)
- var image = video.sourceImage || 'https:'+links.videoImage2(video.sourceId);
- var publisher = 'https://facebook.com/' + config.host;

meta(property='og:site_name', content=config.name)
meta(property='og:url', content=site.head.canonical)
meta(property='og:title', content=site.head.title)
meta(property='og:image', content=image)
meta(property='og:description', content=util.wrapAt(video.description, 100))
meta(property='og:type', content='video')

meta(property='og:video:url', content=embedUrl)
meta(property='og:video:type', content='text/html')
meta(property='og:video:width', content='1280')
meta(property='og:video:height', content='720')

meta(property='og:video:url', content='http://www.youtube.com/v/'+video.sourceId+'?version=3&autohide=1')
meta(property='og:video:secure_url', content='https://www.youtube.com/v/'+video.sourceId+'?version=3&autohide=1')
meta(property='og:video:type', content='application/x-shockwave-flash')
meta(property='og:video:width', content='1280')
meta(property='og:video:height', content='720')

meta(name='twitter:card', content='player')
meta(name='twitter:url', content=site.head.canonical)
meta(name='twitter:title', content=video.title)
meta(name='twitter:description', content=util.wrapAt(video.description, 100))
meta(name='twitter:image', content=image)
meta(name='twitter:player', content=embedUrl)
meta(name='twitter:player:width', content='1280')
meta(name='twitter:player:height', content='720')
link(rel='publisher', href=publisher)
meta(property='article:publisher', content=publisher)
meta(property='article:author', content=publisher)
